body {
      font-family: "Helvetica Neue";
      font-weight: 400;
      letter-spacing: 0.03em;
      font-size: 12px;
      margin: 0;
      padding: 0;
      word-break: break-word;
}

p {
      margin: 0;
      margin-bottom: 10px;
}

a {
      text-decoration: none;
      color: black;
}

.textalign-center {
      text-align: center;
}

.caption {
      margin: 5px;
      text-align: center;
      color: #a9a9a9 !important;
}

.navlink {
      text-transform: uppercase;
      margin-right: 1rem;
      color: #a9a9a9 !important;
}

.navlink:hover {
      color: rgb(238, 70, 52) !important;
}

.navlink.active {
      color: white !important;
}

.inline-image {
      height: 40pt;
}

.heading {
      font-size: 48pt;
      font-family: "Superclarendon";
      font-weight: 300;
      line-height: 55pt;
}

.paragraph {
      font-size: 15px !important;
}

.small {
      font-size: 16pt !important;
}

.med {
      font-size: 32pt !important;
}

.hanwang {
      font-size: 55pt;
      font-family: "HanWangWCL05";
      font-weight: normal;
}

.strong {
      font-weight: 500;
}

.doppelganger {
      font-size: 68pt;
      font-family: "Doppelganger";
}

@keyframes fade-in {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

.placeholderImage {
      position: absolute;
}

.fade-in {
      opacity: 0;
      animation: fade-in 0.3s ease forwards;
}

button.controls {
      cursor: pointer;
      outline: none;
      border: none;
      font-weight: 500;
      color: #111;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      font-size: 30px;
      width: 60px;
      height: 60px;
      margin: 0;
      padding: 0;
      opacity: 0.3
}

button.controls:hover {
      opacity: 1;
}

.images-section_image {
      transition: opacity 0.1s ease;
}

.images-section_image:hover {
      cursor: zoom-in;
      opacity: 0.9;
}

@media only screen and (max-width: 1000px) {
      .inline-image {
            height: 24pt;
      }

      .heading {
            font-size: 24pt;
            line-height: 27pt;
      }

      .med {
            font-size: 16pt !important;
      }

      .hanwang {
            font-size: 27pt;
      }

      .doppelganger {
            font-size: 34pt;
      }
}